mixin about-us()

  section.about-us&attributes(attributes)
    .container
      .about-us__wrapper
        .about-us__title
          h2 О компании
        .about-us__content
          .about-us__box
            p По данным Правительства РФ в 2021г было введено 92,6 млн. м<sup>2</sup> (многоквартирных ЖК) + 53,7 млн. м<sup>2</sup> частных секторов, что стало абсолютным рекордом для строительной отрасли России.
            p Из этого можно сделать вывод, что перспектива штукатурных работ набирает обороты.
            p Фаворит - лидирующая компания по аренде штукатурного оборудования в РФ
            ul.about-us__list
              li.about-us__item
                p работаем с 2019г
              li.about-us__item
                p в 17 регионах
              li.about-us__item
                p сотрудничаем с одним из лучших производителей штукатурных станций
              li.about-us__item
                p вся техника проходит полное ТО и сдается Вам в отличном состоянии, полностью укомплектована
              li.about-us__item
                p при любой поломки оборудования, технические специалисты оперативно решат проблему
              li.about-us__item
                p поможем произвести первый запуск оборудования и проведем обучение работе на станции
              li.about-us__item
                p быстрая доставка до объекта
          .about-us__box

