.features {

  &__wrapper {
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 30px;

    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    text-align: center;

    h3 {
      margin: 0;
      margin-bottom: 10px;

      font-size: 22px;
      line-height: 28px;

      font-weight: 700;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;

      text-align: center;
      margin: 0;
    }
  }

  &__icon {
    padding: 10px;
    padding-top: 5px;

    svg {
      fill: $dark-green;
      color: $dark-green;
      transition:         transform .7s ease-in-out;


      &:hover {
        cursor: default;
        transform: rotate(360deg);
      }
    }
  }

  &__number {
    display: inline-block;
    border: 2px solid $dark-green;
    padding: 0 7px;
    border-radius: 100%;
    color: $dark-green;
    font-weight: 700;
  }
}
