.header {
  // position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;

  display: flex;
  flex-direction: column;

  padding: 0;
  min-height: 70px;

  background-color: $color-grey;
  transition: background-color $trans-default, min-height $trans-default;


  @include vp-767 {
    min-height: 72px;
  }

  &__top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0;

    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
  }

  &__logo {

    img {
      // width: 154px;
      // height: 121px;
      width: 130px;
      height: 100px;
      // margin-top: 20px;
      // margin-bottom: 20px;
    }
  }
}

.header__menu-toggle {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 70px;
  margin-right: 35px;

  // background-color: $color-default-white;
  border: none;
  display: none;
  cursor: pointer;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      span {
        opacity: 0.7;
      }
    }
  }

  &.no-pointer {
    pointer-events: none;
    cursor: defaults;
  }

  @include vp-767 {
    height: 72px;
    width: 66px;
  }
}

.header__menu-toggle span {
  width: 30px;
  height: 3px;

  @include vp-767 {
    width: 27px;
  }

  transition: transform $trans-default, opacity $trans-default;
  background-color: $color-default-black;
}

.header__menu-toggle span:first-child {
  margin-bottom: 6px;

  @include vp-767 {
    margin-bottom: 4px;
  }
}

.header__menu-toggle span:last-child {
  margin-top: 6px;

  @include vp-767 {
    margin-top: 4px;
  }
}

.header__menu-toggle[aria-pressed="false"] {
  z-index: 0;
}

.header__menu-toggle[aria-pressed="true"] {
  background-color: $color-default-black;
}
.header__menu-toggle[aria-pressed="true"] {
  background-color: $color-default-black;
}

.header__menu-toggle[aria-pressed=true] span:first-child {
  transform: translateY(9px) rotate(45deg);

  @include vp-767 {
    transform: translateY(7px) rotate(45deg);
  }
}

.header__menu-toggle[aria-pressed=true] span:nth-child(2) {
  opacity: 0;
}

.header__menu-toggle[aria-pressed=true] span:last-child {
  transform: translateY(-9px) rotate(-45deg);

  @include vp-767 {
    transform: translateY(-7px) rotate(-45deg);
  }
}
