.main-nav {
  &__list {
    display: flex;
    margin: 0;
    margin-right: 20px;
    margin-left: 60px;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin-right: 20px;
  }

  &__link {
    font-size: 20px;
    line-height: 90px;
    color: $color-black-1;

    font-weight: 600;

    &.is-active {
      opacity: 0.6;
    }
  }

  &__toggle {
    display: none;
  }

  &__top-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin: 0 auto;
    width: 100%;
    max-width: 1400px;

    background-color: $color-default-white;
  }
}
